<ion-modal-view>
  <ion-header-bar class="bar-calm">

    <!-- style attribute for Android -->
    <h1 class="title" style="text-align:center!important;">Einen neuen Eintrag erstellen</h1>

    <!-- Button left -->
    <button class="button button-icon button-clear button-light ion-ios-arrow-thin-left" ng-click="closeAddAppointment()"></button>

    <!-- Button right [empty] -->
    <button class="button button-icon button-clear button-light"></button>

  </ion-header-bar>

  <ion-content scroll="false" style="margin: 5px">
    <div>
      <label for="changeDatumAddAppoint"><b>Datum wählen:</b></label>
      <label class="item item-input" style="background-color:rgba(255,0,0,0)">
        <input id="changeDatumAddAppoint" type="date" ng-model="appointForm.datum">
      </label>
      <label for="changeTimeAddAppoint"><b>Startzeit:</b></label>
      <label class="item item-input" style="background-color:rgba(255,0,0,0)">
        <input id="changeTimeAddAppoint" type="time" ng-model="appointForm.time">
      </label>
      <label for="beschreibungAddAppoint"><b>Terminbeschreibung:</b></label>
      <textarea id="beschreibungAddAppoint" rows="5" cols="50" ng-model="appointForm.area" style="border: 1px solid lightgrey; width: 100%"></textarea>
    </div>
    <div id="errorcreateappoint" style="display:none"><p id="appointerrormessage">Ungültige Eingabe, bitte erneut versuchen!</p></div>
    <div class="validation-center">
      <button class="button button-calm button-full" ng-click="createAppointment(appointForm)">
        Erstellen
      </button>
    </div>
  </ion-content>
</ion-modal-view>
