<ion-view title="Default Tab Default Page" id="page2">
    <ion-content padding="true" class="has-header">
        <h1 id="defaultTabDefaultPage-heading1" style="color:#000000;">Guten Tag Frau Brönnimann</h1>
        <div class="spacer" style="width: 748px; height: 206px;"></div>
        <div id="defaultTabDefaultPage-markdown1" style="color:#000000;">
            <p>
                <strong>"An apple a day keeps the doctor away!"</strong>
            </p>
        </div>
    </ion-content>
</ion-view>