<ion-view title="Hausarzt" id="page7">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="hausarzt-card21">
            <ion-item class="item-avatar" id="hausarzt-list-item11">
                <h2>Dr. Max Muster</h2>
            </ion-item>
            <div class=" item item-image">
                <img src="img/fetIEOWqSuOPCVhKCVy7_test_map.PNG" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div id="hausarzt-container1">
            <div class="item item-body" id="hausarzt-list-item-container2">
                <ion-list id="hausarzt-list2">
                    <ion-item class="item-icon-left assertive" id="hausarzt-list-item13">
                        <i class="icon ion-ios-medkit"></i>Notruf</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>