<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Anzeigeeinstellungen
      </div>
          <label class="item item-input item-select">
            <div class="input-label">
              Schriftgrösse
            </div>
            <select>
              <option selected>Standard</option>
              <option>Gross</option>
            </select>
          </label>
          <br>
            <div class="item item-divider">
              Accountinformationen
            </div>
            <table id="table_settings">
            </table>
        </div>
        <br>
        <button class="button button-full button-calm" ng-click="logout()">
          Logout
        </button>

        <!--
        <button class="button button-full button-calm" ng-click="addappointment()">
          Appout
        </button>
        -->

  </ion-content>
</ion-view>
