<ion-view view-title="Appointment Details">
  <ion-content class="padding">
    <div>
      <div class="list list-inset">
        <label class="item item-input">
          <input id="AppBeschreibung" type="text" placeholder="Beschreibung" />
        </label>
        <label class="item item-input">
          <input id="AppDatum" type="text" placeholder="Datum" />
        </label>
        <label class="item item-input">
          <input id="AppStart" type="text" placeholder="Startzeit" />
        </label>
        <label class="item item-input">
          <input id="AppEnde" type="text" placeholder="Endzeit" />
        </label>
      </div>
        <div class="list list-inset">
          <label class="item item-input">
            <input id="mainText" ng-model"username" type="text" placeholder="Enter Text Here" />
          </label>

        </div>
        <button id="submitBtn" onclick="submitClick()" class="button button-block button-stable">Login</button>
    </div>
  </ion-content>
</ion-view>
