<ion-view view-title="Calendar">
  <ion-content class="padding">

    <div class="bar bar-header bar-calm item-input-inset">
        <div class="col col-60">
            <span class="input-label" style="color:white">Datum</span>
        </div>
        <div>
          <label class="item item-input" style="background-color:rgba(255,0,0,0)">
            <input id="changeDatum" type="date" value="2016-12-01" ng-model="user.Name" ng-change="datechange()">
          </label>
        </div>
    </div>
  <br>

  <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
  <!-- <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
      <ion-item ng-repeat="item in items" item="item" href="#/item/{{item.id}}" class="item-remove-animate">
          <b>{{ item.start }} - {{ item.end }} Uhr </b> <br> {{ item.title }}
      </ion-item>
  </ion-list> -->

  <ul class="list" id="list_morgen">
    <li class="item">Morgen</li>
  </ul>
  <ul class="list" id="list_mittag">
    <li class="item">Mittag</li>
    <li class="item">Mittagessen bestellen</li>
  </ul>
  <ul class="list" id="list_abend">
    <li class="item">Abend</li>
  </ul>
  <ul class="list" id="list_nacht">
    <li class="item">Nacht</li>
  </ul>

  </ion-content>
</ion-view>
