<ion-view view-title="VitalData">
  <ion-content padding="true" class="has-header calm">


    <form ng-submit="addWeight(weight)">
                  <div class="list">
                    <label class="item item-input">
                      <input type="number" name="quantity" min="20" max="200" placeholder="Gewicht in Kilogramm" ng-model="weight">
                    </label>
                  </div>
                  <div class="padding">
                    <button type="submit" class="button button-block button-positive">Speichern</button>
                  </div>
                </form>



                <div class="ct-chartBar ct-perfect-fourth"></div>
  </ion-content>
</ion-view>
