<ion-view view-title="Calendar">
  <ion-nav-buttons side="right">
      <!--<button icon="ion-plus-round" class="button" ng-click="aksjhdfgakshdfg()">
        Eintrag hinzufügen
      </button>-->
      <a class="button icon-right ion-plus-round button-calm" ng-click="modal.show()">Eintrag anlegen </a>
    </ion-nav-buttons>

    <!-- <ion-header-bar class="bar-subheader bar-calm" style="text-align: center">

      <div>
          <span class="input-label" style="color:white">Datum</span>
      </div>
      <div id="datediv">
        <label class="item item-input" style="background-color:rgba(255,0,0,0)">
          <input type="date" id="changeDatum" value="" ng-model="user.Name" ng-change="datechange()">
        </label>
      </div>

    </ion-header-bar> -->


  <ion-content class="padding">



  <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
  <!-- <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
      <ion-item ng-repeat="item in items" item="item" href="#/item/{{item.id}}" class="item-remove-animate">
          <b>{{ item.start }} - {{ item.end }} Uhr </b> <br> {{ item.title }}
      </ion-item>
  </ion-list> -->
<table id="table_calendar">
  <thead id="table_header">
    <tr>
      <th><input type=button value="<"/></th>
      <th>Datum<br><label class="item item-input" style="background-color:rgba(255,0,0,0)">
        <input type="date" id="changeDatum" value="" ng-model="user.Name" ng-change="datechange()">
      </label></th>
      <th><input type=button value=">"/></th>
    </tr>
  </thead>
  <tbody id="table_body">
  </tbody>
  <!-- <tbody id="table_mittag">
  </tbody>
  <tbody id="table_abend">
  </tbody>
  <tbody id="table_nacht">
  </tbody> -->
</table>

  <!--
  <ul class="list" id="list_morgen">
    <li class="item item-calm">Morgen</li>
  </ul>
  <ul class="list" id="list_mittag">
    <li class="item item-calm">Mittag</li>
  </ul>
  <ul class="list" id="list_abend">
    <li class="item item-calm">Abend</li>
  </ul>
  <ul class="list" id="list_nacht">
    <li class="item item-calm">Nacht</li>
  </ul> -->

  </ion-content>
</ion-view>
