<ion-view view-title="Login">
  <ion-content class="padding">
    <!-- Login -->
    <!--<i4mi-midata-login user="user" controller-name="I4MIMidataLoginController"></i4mi-midata-login>-->
    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="login.email" type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input ng-model="login.password" type="password" placeholder="Password">
      </label>
      <label class="item item-input">
        <input ng-model="login.server" type="text" value='https://test.midata.coop:9000' placeholder="https://test.midata.coop:9000">
      </label>
    </div>
    <button type="submit" class="button button-full button-calm" ng-click="doLogin()">Login</button>
  </ion-content>
</ion-view>
