<ion-view view-title="Login">
  <ion-content class="padding">
    <!-- Form -->
        <div class="list list-inset">
          <label class="item item-input bar">
            <i class="icon ion-ios-email-outline placeholder-icon-large"></i>
            <input type="text" placeholder="Email - Adresse" ng-model="user.email">
          </label>
          <label class="item item-input">
            <i class="icon ion-ios-locked-outline placeholder-icon-large"></i>
            <input type="password" placeholder="Passwort" ng-model="user.password">
          </label>
        </div>

        <!-- Connect button -->
        <a class="button button-block button-calm" ng-click="loginUser(user)">
          Connect
        </a>

        <div>
        <a href="" ng-click="openRegister()">Noch keinen Account? Jetzt Registrtieren!</a>
        </div>
  </ion-content>
</ion-view>
