<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-background-calm tabs-color-light">

  <!-- Dashboard Tab -->
   <ion-tab title="Calendar" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" href="#/tab/calendar">
     <ion-nav-view name="tab-calendar"></ion-nav-view>
   </ion-tab>

   <!-- Chats Tab -->
   <ion-tab title="VitalData" icon-on="ion-ios-flask" icon-off="ion-ios-flask-outline" href="#/tab/vitaldata">
     <ion-nav-view name="tab-vitaldata"></ion-nav-view>
   </ion-tab>

   <!-- Account Tab -->
   <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
     <ion-nav-view name="tab-settings"></ion-nav-view>
   </ion-tab>

   <!-- Account Tab -->
   <!--<ion-tab title="Login" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/login" hidden="true">
     <ion-nav-view name="tab-login"></ion-nav-view>
   </ion-tab> -->
</ion-tabs>
