<ion-view title="Welcome" id="page2">
    <ion-content padding="true" class="has-header">
        <h1 id="welcome-heading1" style="color:#000000;">Guten Tag Frau Brönnimann</h1>
        <div class="spacer" style="width: 748px; height: 206px;"></div>
        <div id="welcome-markdown1" style="color:#000000;">
            <p>
                <strong>"An apple a day keeps the doctor away!"</strong>
            </p>
        </div>
        <button id="welcome-button7" class="button button-positive  button-block">Weiter</button>
    </ion-content>
</ion-view>