<ion-view view-title="Vitaldaten: Blutdruck" ng-init="initPageBP()">
  <ion-nav-bar class="bar-calm">
    <ion-nav-buttons side="left">
      <a id="backButton" style="color: white" class="icon ion-ios-arrow-thin-left" ng-click="goBackVital()"> Zurück </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header calm">
    <div class="list">
      <label class="item item-input">
        <input type="number" id="bloodPressureValueSys" name="bloodpressure" min="20" max="200" placeholder="Systolisch (mmHg)"></input>
      </label>
    <label class="item item-input">
      <input type="number" id="bloodPressureValueDis" name="bloodpressure" min="20" max="200" placeholder="Diastolisch (mmHg)"></input>
    </label>
    </div>
    <div class="padding">
      <button id="saveBP" ng-click="saveBloodPressure()" class="button button-full button-positive">Blutdruck speichern</button>
    </div>
    <table id="table_bp">
      <tr>
        <th><b>Datum</b></th>
        <th><b>Systolisch (mmHg)</b></th>
        <th><b>Diastolisch (mmHg)</b></th>
      </tr>
    </table>
  </ion-content>
</ion-view>
